<% include ./partials/header %>
    <!-- script-for-nav -->
  
<style type="text/css">
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}


</style>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125810435-1"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- /header -->
</div>
<center>
<div class="container login-container" >
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Login </h3>
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" value="" name="username" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" name="password" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">
                            <a href="#" class="ForgetPwd">Forgot Password?</a><br>
                            <a href="/register">New User</a>
                        </div>
                    </form>
                </div>
              </div>
            </div>
            </center>
</div>


<!-- /team -->
<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="footer-grids">
      <div class="col-md-3">
        <div class="footer-grid">
          <h5>About CarWash</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis, urna a aliquam rhoncus,</p>
          <p> Ut ultrices diam enim, eget consectetur elit iaculis eu</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-grid f-blog">
          <h5>Form the Blog</h5>
          <div class="f-blog-artical">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span>March 20,2014</span>
          </div>
          <div class="f-blog-artical f-blog-artical1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span>March 20,2014</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-grid site-map">
          <h5>Site Map</h5>
          <ul>
            <li><a href="index.html"><span> </span>Home</a></li>
            <li><a href="about.html"><span> </span>About</a></li>
            <li><a href="services.html"><span> </span>Services</a></li>
            <li><a href="products.html"><span> </span>Products</a></li>
            <li><a href="contact.html"><span> </span>Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-grid f-gallery">
          <h5>Form the Gallery</h5>
          <div class="f-gallery-grids">
            <div class="f-gallery-grid">
              <ul>
                <li><a href="#"><img src="images/people-pic.jpg" title="name" /></a></li>
                <li><a href="#"><img src="images/people-pic1.jpg" title="name" /></a></li>
                <li><a href="#"><img src="images/people-pic4.jpg" title="name" /></a></li>
                <li><a href="#"><img src="images/people-pic3.jpg" title="name" /></a></li>
                <li><a href="#"><img src="images/people-pic4.jpg" title="name" /></a></li>
                <li><a href="#"><img src="images/people-pic1.jpg" title="name" /></a></li>
                <div class="clearfix"> 
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!-- /footer -->
  <!-- footer-bottom -->
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-left">
       <!--  <p> &copy; 2014 Carwash. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p> -->
     </div>
     <div class="footer-bottom-right">
      <ul>
                  <li><a href="www.facebook.com">Facebook</a></li>
                  <li><a href="www.twitter.com">Twitter</a></li>
                  <li><a href="www.google.com">Google+</a></li>
                </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- footer-bottom -->
</div>
<div class="floating-chat">
  <i class="fa fa-comments" aria-hidden="true"></i>
  <a style="color: white; text-decoration: none;" href="/request">Request Car Wash</a>
</div>
<!-- /container -->
</body>

<script type="text/javascript">
  var element = $('.floating-chat');
  var myStorage = localStorage;


  setTimeout(function() {
    element.addClass('enter');
  }, 1000);

  element.click(openElement);



  function createUUID() {
    // http://www.ietf.org/rfc/rfc4122.txt
    var s = [];
    var hexDigits = "0123456789abcdef";
    for (var i = 0; i < 36; i++) {
      s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
    }
    s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
    s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
    s[8] = s[13] = s[18] = s[23] = "-";

    var uuid = s.join("");
    return uuid;
  }



  function onMetaAndEnter(event) {
    if ((event.metaKey || event.ctrlKey) && event.keyCode == 13) {
      sendNewMessage();
    }
  }
</script>
</html>

