* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.user {
  margin: 20px;
  border-radius: 6px;
  width: calc(33.3% - 40px);
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,.05), 0 0 0 1px #ddd inset;
  position: relative;

  &-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 0;
    margin-right: 12px;
  }

  &-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.05) 1%,rgba(0,0,0,0) 100%);

  }

  &-basic-info {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
  }

  &-fullname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-nick {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-data {
    flex: 1;
    white-space: nowrap;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
  }

  &-fullname {
    color: rgba(#333, .6);
    font-size: 14px;
  }

  &-info {
    padding: 16px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
  }

  &-info + &-info {
    border-top: 1px solid #efefef;
  }

  &-title {
    font-size: 11px;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
    letter-spacing: 1px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
  }

  &-remove {
    position: absolute;
    top: 50%;
    transition: .3s;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    background-color: #d80c0c;
    box-shadow: 0 0 0 40px rgba(#fff, .8), 0 0 0 5px rgba(#d80c0c, .8);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    opacity: 0;
    outline: 0;
    cursor: pointer;
  }

  &:hover &-remove {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .user {
    width: calc(50% - 40px);
  }
}

@media (max-width: 600px) {
  .user {
    width: calc(100% - 40px);
  }
}
